
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FoodSwarm - Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link href="/static/FoodSwarm/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/FoodSwarm/css/main.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <img src="/static/FoodSwarm/images/name.png" alt="FoodSwarm" height="30px" width="182px"/>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Report Food Stall Queue Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Request to Add New Food Stall</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Food Swarm Team</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
        <a class="nav-link" href="#">User Profile</a>
        <a class="nav-link active" href="#">Food Stalls</a>
        <a class="nav-link" href="#">
          Favorites
          <span class="badge badge-pill bg-light align-text-bottom">13</span>
        </a>
        <a class="nav-link" href="#">
          Near Me
          <span class="badge badge-pill bg-light align-text-bottom">4</span>
        </a>
      </nav>
    </div>

    <main role="main" class="container pt-sm-3">
            <div class="card-deck">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1521473717695-e8f5635b7f6a" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Mang Larry's</h3>
                  <p class="card-text">CROWDED</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
											<a class="btn btn-sm btn-outline-secondary" href="/page/" role="button">View</a>
											<a class="btn btn-sm btn-outline-secondary" href="/update/" role="button">Update</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1433155805822-ffc337821a5b" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Chocolate Kiss</h3>
                  <p class="card-text">Vacant</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
											<a class="btn btn-sm btn-outline-secondary" href="/page/" role="button">View</a>
											<a class="btn btn-sm btn-outline-secondary" href="/update/" role="button">Update</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1540853986208-a3e8f4ab197a" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Rodic's Diner</h3>
                  <p class="card-text">CROWDED</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
											<a class="btn btn-sm btn-outline-secondary" href="/page/" role="button">View</a>
											<a class="btn btn-sm btn-outline-secondary" href="/update/" role="button">Update</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>

        <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1521017432531-fbd92d768814" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">ROC</h3>
                  <p class="card-text">Occupied</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
											<a class="btn btn-sm btn-outline-secondary" href="/page/" role="button">View</a>
											<a class="btn btn-sm btn-outline-secondary" href="/update/" role="button">Update</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1522244451342-a41bf8a13d73" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Snack Shack</h3>
                  <p class="card-text">Occupied</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
											<a class="btn btn-sm btn-outline-secondary" href="/page/" role="button">View</a>
											<a class="btn btn-sm btn-outline-secondary" href="/update/" role="button">Update</a>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1543362426-39c5b9067c0f" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-text">Lutong Bahay</h3>
                  <p class="card-text">Vacant </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Update</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--           <div style="text-align:center;">
            <button class="btn btn-success my-2 my-sm-0" type="submit">More</button>
          </div> -->
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/FoodSwarm/js/popper.min.js"></script>
    <script src="/static/FoodSwarm/js/bootstrap.min.js"></script>
    <script src="/static/FoodSwarm/js/holder/holder.min.js"></script>
  </body>
</html>
