<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link href="/static/FoodSwarm/css/bootstrap.css" rel="stylesheet">
  <link href="/static/FoodSwarm/css/style.css" rel="stylesheet">
  <title>FoodSwarm - Login</title>


</head>

<body>
  <div class="login-page">
    <div class="image"> <img src="/static/FoodSwarm/images/login_logo.png" alt="FoodSwarm Logo" height="80%" width="80%" />
      <div class="form">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert"><small>The username and password you entered did not match our records. Please double-check and try again</small></div>
        {% endif %}
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="POST" action="/login/">
          {% csrf_token %}
          <!-- {{form.a_sp}} -->
          <input type="text" placeholder="username" name="username" autofocus required id="id_username"/>
          <input type="password" placeholder="password" name="password" autofocus required id="id_password"/>
          <!-- <a href="{% url 'login' %}">login</a> -->
          <button type="submit" value="Log in">login</button>
          <p class="link"><a href="#">Forgot Password?</a></p>
          <p class="message"><a href="#">Create an account</a></p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
