
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="/static/FoodSwarm/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/FoodSwarm/css/main.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a href="/"><img src="/static/FoodSwarm/images/name.png" alt="FoodSwarm" height="30px" width="182px"/></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/report/">Report Food Stall Queue Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/request/">Request to Add New Food Stall</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">Contact Food Swarm Team</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
        <!-- {% url 'Foodswarm-Favorites' as favorite %}
        {% url 'Foodswarm-Near' as near %} -->
        <a href="/profile/"
        {% if request.path == "/profile/" %}class="nav-link active"
        {% else %}class="nav-link"
        {% endif %}>User Profile</a>

        <a href="/"
        {% if request.path == "/" %}class="nav-link active"
        {% else %}class="nav-link"
        {% endif %}>Food Stalls</a>

        <a href="/favorites/"
        {% if request.path == "/favorites/" %}class="nav-link active"
        {% else %}class="nav-link"
        {% endif %}>
          Favorites
          <span class="badge badge-pill bg-light align-text-bottom">13</span>
        </a>

        <a href="/nearme/"
        {% if request.path == "/nearme/" %}class="nav-link active"
        {% else %}class="nav-link"
        {% endif %}>
          Near Me
          <span class="badge badge-pill bg-light align-text-bottom">4</span>
        </a>
      </nav>
    </div>

    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/FoodSwarm/js/popper.min.js"></script>
    <script src="/static/FoodSwarm/js/bootstrap.min.js"></script>
    <script src="/static/FoodSwarm/js/holder/holder.min.js"></script>
  </body>
</html>
