{% extends "Foodswarm/base.html" %}

{% block title %}
<title>Foodswarm - Home</title>
{% endblock %}

{% block content %}

<main role="main" class="container pt-sm-3">
  <div class="container no-gutters border rounded shadow-sm position-relative pt-sm-1">
    <div class="row">
      <div class="col-sm py-sm-5">
        <img style="margin-bottom: 20px; margin-left: 20px;" width="250px" src="https://memegene.net/sites/default/files/wallpaper/profile-clipart/180720/profile-clipart-default-180720-8178354.jpg">
        <button type="button" class="btn btn-block btn-secondary">Edit profile</button>
      </div>
      <div class="col-8  px-sm-5">
        <div class="col">
          <h1 class="text-dark display-4">@username</h1>
          <h4 class="text-dark mb-3">example@email.com</h4>
        </div>
        <div class="col">
          <!-- <p class="text-body">add more info here</p> -->
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
